<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\users\red\documents\visual studio 2015\projects\wcf-tutorial-projects\52 - wshttpbinding + transport security\simpleservice\iishost\web_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtTransportLevel="true" />
        </diagnostics>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      <bindings>
        <wsHttpBinding>
          <binding name="wsHttp">
            <security mode="Transport">
              <transport clientCredentialType="Basic"></transport>
            </security>
          </binding>
        </wsHttpBinding>
      </bindings>
        <services>
            <service behaviorConfiguration="mexBehavior"
                     name="SimpleService.SimpleService">
                <endpoint address="SimpleService"
                          binding="wsHttpBinding"
                          bindingConfiguration="wsHttp"
                          contract="SimpleService.ISimpleService" />
                <host>
                    <baseAddresses>
                      <add baseAddress="http://localhost:8090" />
                      <add baseAddress="https://localhost:8100" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
