<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="ReportService.ReportService">
                <endpoint address="ReportService" binding="netTcpBinding" bindingConfiguration=""
                    contract="ReportService.IReportService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8090" />
                        <add baseAddress="net.tcp://localhost:8100" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>