<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISimpleService">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/SimpleService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISimpleService" contract="SimpleService.ISimpleService"
                name="BasicHttpBinding_ISimpleService" />
        </client>
    </system.serviceModel>
</configuration>