<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <!-- Service -->
    <system.serviceModel>
      <services>
        <service name="CalculatorService.CalculatorService" behaviorConfiguration="mexBehaviour">
          <endpoint address="CalculatorService" binding="basicHttpBinding" contract="CalculatorService.ICalculatorService" />
          <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8090/" />
            </baseAddresses>
          </host>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="mexBehaviour">
            <serviceMetadata httpGetEnabled="true" />
            <!--For debugging purpose, if you want to include exception details in SOAP faults, enable includeExceptionDetailInFaults setting.
            // Option 1: enable includeExceptionDetailInFaults setting-->
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>