<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHelloService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/HelloService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IHelloService" contract="HelloService.IHelloService"
                name="WSHttpBinding_IHelloService" />
        </client>
    </system.serviceModel>
</configuration>