<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <!-- Message size: 2,149,353 - Text -->
        <!-- Message size: 1,613,874 - Mtom -->
        <binding name="WSHttpBinding_IDownloadService"
                 messageEncoding="Mtom"
                 maxReceivedMessageSize="2500000">
          <readerQuotas maxArrayLength="2500000"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://red-lapos/DownloadService/DownloadService.svc/DownloadService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDownloadService"
        contract="DownloadService.IDownloadService" name="WSHttpBinding_IDownloadService">
        <identity>
          <servicePrincipalName value="host/Red-Lapos" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>