<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISimpleService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8100/SimpleService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISimpleService" contract="SimpleService.ISimpleService"
                name="NetTcpBinding_ISimpleService">
                <identity>
                    <userPrincipalName value="Red-Lapos\Red" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>