<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <client>
            <!--A WCF service endpoint consists of 3 things
                 A - Address: Address where the WCF service is available
                 B - Binding: 
                     A WCF binding defines how the client needs to communicate with the service. 
                     The WCF binding that you choose determines the following for 
                     the communication between the client and the service:
                        1. Transport Protocol (for example, HTTP, TCP, NamedPipe, MSMQ)
                        2. Message Encoding (for example, text/XML, binary)
                        3. Protocols (for example, reliable messaging, transaction support)
                        
                        System-Provided Bindings: https://msdn.microsoft.com/en-us/library/ms730879(v=vs.110).aspx
                        
                        Which binding should I use: http://stackoverflow.com/questions/10849920/different-wcf-bindings-their-differences-and-compatibility-with-other-platforms
                        
                 C - Contract: 
                     Specifies what the service can do. For example, the service contract 
                     describes which operations the client can perform on the service-->
            <endpoint address="net.tcp://localhost:8100/HelloService" 
                      binding="netTcpBinding"
                      contract="HelloService.IHelloService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>