<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <bindings>
        <wsHttpBinding >
          <binding name="wsHttp">
            <reliableSession enabled="false"/>
          </binding>
        </wsHttpBinding>
        <!--<netTcpBinding>
          <binding name="netTCP" receiveTimeout="00:00:10" >
            <reliableSession enabled="true"/>
          </binding>
        </netTcpBinding>-->
      </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehaviour">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehaviour" 
                     name="SimpleService.SimpleService">
                <endpoint address="SimpleService" 
                          binding="wsHttpBinding" 
                          bindingConfiguration="wsHttp"
                          contract="SimpleService.ISimpleService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8090" />
                        <add baseAddress="net.tcp://localhost:8100" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>